* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}

.top_section {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: linear-gradient(73deg ,rgba(66, 66, 241, 1), rgb(255, 94, 255));
}
.months {
    font-size: 2rem;
    padding: 15px;
}
.total_balance {
    font-size: 2rem;
    padding: 0 15px 15px;
}
.top_inc_exp {
    height: 50px;
    width: 50vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(128, 128, 128, 0.603);
    margin: 10px;
    padding: 10px;
    font-size: 100%;
}
.top_exp_data {
    float: right;
    display: inline-flex;
    align-items: center;
}
.top_percent {
    border: 0.5px solid white;
    border-radius: 3px;
    padding: 2px;
    margin: 0 0 0 10px;
}
.input {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: grey;
    padding: 10px 0 0;
}
.input >* {
    height: 44px;
    width: auto;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 0 10px 10px;
    align-self: center;
    font-size: 1rem;
    padding: 0 10px;
}
#input_desp, #input_value{
    width: 50vw;
}
.far {
    font-size: 2.2rem;
    color: rgb(243, 146, 194);
    cursor: pointer;
}
.inc_exp_details {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: cyan;
}
.tab_btn {
    font-size: 1.5rem;
    background: cyan;
    outline: none;
    cursor: pointer;
    border: none;
}
.active {
    height: 50px;
    padding: 0 10px;
    background: rgb(234, 253, 124);
    border-style: double;
    border-bottom: none;
}
.tabcontent{
    display: none;
    flex-direction: column;
    align-items: center;
}
.income {
    display: flex;
}
.expense {
    display: none;
}
.inc, .exp {
    height: 50px;
    width: 80vw;
    padding: 0 10px;
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inc {
    background: rgba(0, 128, 0, 0.651);
}
.exp {
    background: rgba(255, 0, 0, 0.651);
}
.cur_desp{
    display: inline;
}
#inc_details, #exp_details {
    float: right;
    display: inline-flex;
}
#inc_details .fas, #exp_details .fas {
    margin-left: 10px;
    display: none;
    transition: display 3s ease-in-out;
    cursor: pointer;
}
.cur_percent {
    margin-left: 10px;
}
.inc:hover #inc_details .fas, .exp:hover #exp_details .fas {
    display: block;
}
@media only screen and (min-width: 790px){
    .input{
        padding: 20px 0;
        flex-direction: row;
    }
    .input #input_desp, .input #input_value{
        width: 250px;
    }
}